.alert-message {
    background-color: $primary;
    border: 0;
    border-radius: 0;
    box-shadow: $box-shadow-light;
    color: rgba($black, .875);
    line-height: 1.5;
    margin: $paragraph-margin-bottom auto;
    padding: 1rem;

    @include media-breakpoint-up(sm) {
        margin: $paragraph-margin-bottom -1rem;
    }

    a {
        border-bottom: 2px solid rgba($black, .875);

        &:hover {
            border-bottom: 2px solid $black;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }
}