.wp-block-columns {
    @include media-breakpoint-up(sm) {
        max-width: $container-sm-width;
    }

    @include media-breakpoint-up(md) {
        align-items: center;
        display: grid;
        grid-gap: $grid-gap;
        grid-template-columns: 50fr 50fr;
        max-width: $container-md-width;

        &.columns-2-1 {
            grid-template-columns: 66.6667fr 33.3333fr;
        }

        &.columns-3-1 {
            grid-template-columns: 75fr 25fr;
        }

        &.columns-1-2 {
            grid-template-columns: 33.3333fr 66.6667fr;;
        }

        &.columns-1-3 {
            grid-template-columns: 25fr 75fr;
        }

        &.columns-1-1-1 {
            grid-template-columns: repeat(3, 33.3333fr);
        }

        &.columns-1-2-1 {
            grid-template-columns: 25fr 50fr 25fr;
        }
    }

    @include media-breakpoint-up(lg) {
        max-width: $container-lg-width;
        margin-left: calc((#{$container-lg-width} - #{$container-md-width}) / -2);
        margin-right: calc((#{$container-lg-width} - #{$container-md-width}) / -2);
    }

    @include media-breakpoint-up(xl) {
        max-width: $container-xl-width;
        margin-left: calc((#{$container-xl-width} - #{$container-md-width}) / -2);
        margin-right: calc((#{$container-xl-width} - #{$container-md-width}) / -2);
    }

    &.contained {
        margin-left: 0;
        margin-right: 0;
    }

    .wp-block-column {   
        margin-bottom: $paragraph-margin-bottom;
    }

    figure {
        margin: 0 0 $paragraph-margin-bottom !important;

        &:last-child {
            margin: 0 !important;
        }
    }

    &.are-vertically-aligned-top {
        align-items: start;
    }

    &.are-vertically-aligned-bottom {
        align-items: end;
    }
}