.article-sharing {
    a {
        align-items: center;
        border: none;
        border-radius: 50%;
        box-shadow: $box-shadow;
        display: inline-flex;
        justify-content: center;
        transition: all .25s linear;

        &:hover {
            border: none;
            box-shadow: $box-shadow-dark;
        }
    }
}

header .article-sharing {
    bottom: -5.5rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
        bottom: -6rem;
    }

    a {
        background: rgba($black, .875);
        color: rgba($primary, .875);
        font-size: 1.5rem;
        height: 3rem;
        margin: $paragraph-margin-bottom / 2 $paragraph-margin-bottom / 4;
        position: relative;
        width: 3rem;

        @include media-breakpoint-up(md) {
            height: 4rem;
            width: 4rem;
        }

        &:hover {
            background: $black;
            color: $primary;
        }
    }

    .tooltip {
        opacity: 0;
        transition: all .25s linear;

        &[data-show] {
            opacity: 1;
        }
    }
}

footer .article-sharing {
    position: relative;
    
    @include media-breakpoint-up(md) {
        position: absolute;
        right: 1rem;
        top: -2.25rem;
    }

    a {
        background: $primary;
        color: rgba($black, .875);
        font-size: 1.25rem;
        height: 2.5rem;
        margin: 0 1rem $paragraph-margin-bottom;
        width: 2.5rem;

        @include media-breakpoint-up(md) {
            margin: 1rem $paragraph-margin-bottom / 4;
        }

        &:hover {
            background: $primary;
            color: $black;
        }
    }
}