$primary: #fce409;
$black: #000000;
$white: #ffffff;
$red: #bf282d;
$green: #14b830;
$blue: #4372b8;

$gray-lighter: #adadad !default;
$gray-light: #757575 !default;
$gray: #505050 !default;
$gray-dark: #343434 !default;
$gray-darker: #252525 !default;

$body-color: $gray;

$link-color: rgba($black, .75);
$link-border-color: rgba($primary, .75);
$link-hover-color: $black;
$link-hover-border-color: $primary;