$box-shadow-dark: 0 .125rem 1rem rgba($black, .75);
$box-shadow: 0 .125rem 1rem rgba($black, .5);
$box-shadow-light: 0 .125rem 1rem rgba($black, .25);

$button-box-shadow-dark: 0 .125rem .5rem rgba($black, .75);
$button-box-shadow: 0 .125rem .5rem rgba($black, .5);
$button-box-shadow-light: 0 .125rem .5rem rgba($black, .25);