$base-font-size: 16px;

$h1-size: $base-font-size * 3;
$h2-size: $base-font-size * 2.5;
$h3-size: $base-font-size * 2;
$h4-size: $base-font-size * 1.5;
$h5-size: $base-font-size * 1.25;
$h6-size: $base-font-size * 1.125;

$paragraph-margin-bottom: 2rem;