figure {
    a,
    a:hover {
        border: none;
    }

    &.size-medium {
        max-width: 300px;
    }
}

figcaption {
    color: rgba($body-color, .5);
    font-size: calc(var(--base-font-size) * .75);
    font-weight: 300;
    text-align: center;
}