img {
    box-shadow: $box-shadow;
    height: auto;
    max-width: 100%;
    min-width: 100%;
}

.img-no-shadow img,
.no-shadow img,
.img-no-shadow figure img,
.no-shadow figure img {
    box-shadow: none !important;
}

.is-resized,
.is-resized img {
    min-width: auto;
}

.aligncenter,
.alignleft,
.alignright,
.alignnone {
    display: block;
    margin: 0 auto $paragraph-margin-bottom;
    text-align: center;
}

.alignleft.size-medium,
.alignleft.is-resized {
    @include media-breakpoint-up(sm) {
        display: inline;
        float: left;
        margin-left: 0;
        margin-right: $paragraph-margin-bottom;
    }
}

.alignright.size-medium,
.alignright.is-resized {
    @include media-breakpoint-up(sm) {
        display: inline;
        float: right;
        margin-left: $paragraph-margin-bottom;
        margin-right: 0;
    }
}

.aligncenter,
.alignnone {
    clear: both;
}

.container-article-content > .wp-block-image {
    margin: 0 0 $paragraph-margin-bottom;

    @include media-breakpoint-up(sm) {
        max-width: $container-sm-width;
    }

    @include media-breakpoint-up(md) {
        max-width: $container-md-width;
    }

    @include media-breakpoint-up(lg) {
        max-width: $container-lg-width;
        margin-left: calc((#{$container-lg-width} - #{$container-md-width}) / -2);
        margin-right: calc((#{$container-lg-width} - #{$container-md-width}) / -2);
    }

    @include media-breakpoint-up(xl) {
        max-width: $container-xl-width;
        margin-left: calc((#{$container-xl-width} - #{$container-md-width}) / -2);
        margin-right: calc((#{$container-xl-width} - #{$container-md-width}) / -2);
    }

    &.contained,
    &.no-pull {
        margin-left: 0;
        margin-right: 0;
    }
}