blockquote {
    border-left: $paragraph-margin-bottom / 4 solid $primary;
    padding: 0 $paragraph-margin-bottom / 2;

    @include media-breakpoint-up(md) {
        border-left: $paragraph-margin-bottom / 2 solid $primary;
    }

    p:last-of-type:not(:last-child) {
        margin-bottom: 0;
    }

    cite {
        color: rgba($body-color, .75);
        font-size: calc(var(--base-font-size) * .75);
        font-style: normal;
        font-weight: 300;
    }
}