.break-container {
    margin: 0 0 $paragraph-margin-bottom;

    @include media-breakpoint-up(sm) {
        max-width: $container-sm-width;
    }

    @include media-breakpoint-up(md) {
        max-width: $container-md-width;
    }

    @include media-breakpoint-up(lg) {
        max-width: $container-lg-width;
        margin-left: calc((#{$container-lg-width} - #{$container-md-width}) / -2);
        margin-right: calc((#{$container-lg-width} - #{$container-md-width}) / -2);
    }

    @include media-breakpoint-up(xl) {
        max-width: $container-xl-width;
        margin-left: calc((#{$container-xl-width} - #{$container-md-width}) / -2);
        margin-right: calc((#{$container-xl-width} - #{$container-md-width}) / -2);
    }
}